


*{
	margin: 0;
	padding: 0;
}

html, body{
	min-height: 100%;
}

#header{
	/*border:1px solid white;*/
	margin:0;
	padding:1%;
}

#header h1{
	color:white;
	text-align: center;
    font-family: 'Cinzel', serif;


}

.connection{
	/*border: 1px solid white;
*/	margin-top: 5%;
}

#connect{
	/*border: 1px solid green;
*/	width: 50%;
	margin:0 auto;
	text-align: center;
	font-size: 2rem;
  font-family: 'Orbitron', sans-serif;
   color: white;


}

#through{
	/*border: 1px solid red;*/
	width: 30%;
	text-align: center;
	margin: 12% 35% 0 35%;
	color:white;
font-family: 'Sacramento', cursive;


}


#music{
   
   /*border: 1px solid red;*/
	width: 30%;
	text-align: center;
	margin: 1% 35% 0 35%;
	color:white;
	font-size: 3rem;
    font-family: 'Special Elite', cursive;


}


body{
	background-image: url("mike.jpeg");
	  /* Add the blur effect */
 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;


}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {


} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {



} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {



} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {




}