


*{
	margin: 0;
	padding: 0;
}

html, body{
	min-height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
}

body{
	animation: fadeIn 2s;
}



#header{
	border:1px solid white;
	margin:0;
	padding:1%;
	font-size: 1.5rem;
}

#header h1{
	color:white;
	text-align: center;
    font-family: 'Cinzel', serif;


}

a{
	text-decoration: none;
	color: white;
}

.connection{
	border: 1px solid white;
	margin-top: 5%;
}

#connect{
	border: 1px solid green;
	width: 100%;
 
	text-align: center;
	font-size: 3rem;
  font-family: 'Orbitron', sans-serif;
   color: white;


}

#through{
	border: 1px solid red;
	width: 100%;
	text-align: center;
	margin: 16% 0 0 0;
	color:white;
   font-family: 'Sacramento', cursive;
   font-size: 1.5rem;

}


#music{
   
   border: 1px solid red;
	width: 100%;
	text-align: center;

	color:white;
	font-size: 3.5rem;
    font-family: 'Special Elite', cursive;


}


body{
	background-image: url("mike.jpeg");
	  /* Add the blur effect */
 
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;


}

.rock{
	padding : 2rem;
	font-size: 2rem;
	border-radius: 1rem;
	cursor: pointer;
	background-color: black;
	border:1px solid white;
	color: white;
}


@keyframes fadeIn{

	from{
		opacity: 0;
	}

	to{
		opacity: 1;
	}

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 450px) {

   html{
   	font-size: 7px;
   }
   

   .connection{
   	  margin-top: 17%;
   }




     #through{
    	margin:60% 0 0 0;
    }



} 


@media only screen and (min-width: 450px) {

   html{
   	font-size: 7px;
   }

        #through{
    	margin:40% 0 0 0;
    }



} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

	   html{
   	font-size: 8px;
   }

        #through{
    	margin:24% 0 0 0;
    }



} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

   html{
   	font-size: 11px;
   }


   
      #through{
    	margin:18% 0 0 0;
    }


} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

   html{
   	font-size: 13px;
   }

     

    #through{
    	margin:18% 0 0 0;
    }



} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  


}






